.Agents__container {
  padding: 20px;
  margin-top: 20px;
}

.Agents__container h2 {
  overflow: hidden;
  word-wrap: break-word;
  text-align: left;
  text-overflow: ellipsis;
}

.Agents__poolId {
  color: gray;
  font-size: 0.8em;
  margin-left: 5px;
}

.Agent__name a {
  color: green;
}

.Agent td a {
  word-break: break-all;
}