.PoolSearcher {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.PoolSearcher__input {
  margin-top: 20px;
  width: 100%;
  max-width: 900px;
}

.PoolSearcher__input .input {
  width: 100%;
}

.PoolSearcher[data-loading="true"] .PoolSearcher__input .results .result {
  cursor: default;
  pointer-events: none;
  font-style: italic;
  color: gray;
  text-align: center;
}

.PoolSearcher__button {
  margin-left: 10px !important;
  margin-top: 20px !important;
}