.Topbar {
  display: flex;
  justify-content: space-between;
  background-color: rgb(235, 235, 235);
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;
}

.Topbar__title {
  font-size: 1.6em;
  cursor: default;
  padding: 10px;
}

.Topbar__button-container {
  padding: 10px;
}

.EnvironmentModal .content {
  text-align: center;
}

.EnvironmentModal__item {
  margin-bottom: 20px;
}

.EnvironmentModal__input {
  width: 500px;
}